# Compiled Binaries & Executables
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/
build/
cmake-build-*/
*.obj
*.o
*.a
*.lib

# Compiled Model Weights
*.bin
weights/*.bin

# Test binaries & coverage
*.test
*.out
coverage.txt

# OS & Editor metadata
.DS_Store
.idea/
.vscode/
*.swp
*~
